{% extends "base1.html" %}
{% block title %}News{% endblock %}
{% block head %}Hey {{ user.username }}, Remember these? !! <span class="glyphicon glyphicon-heart-empty"></span>
<style>
.img-rounded{
    width: 5cm;
    height: 5cm;
}
</style>
{% endblock %}
{% block content %}
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <h2>Title : {{ post.title }}</h2>
                <h4><img class="img-rounded" src="{{ post.img.url }}"> {{ post.text }}</h4>
                <h6>Published on: {{ post.published_date }}</h6>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}