{% extends 'base1.html' %}
    {% block head %}New post
    {% endblock %}

{% block content %}
    <style>
        table{
            background:rgba(255,255,255,0.5);
            margin-left: auto;
            margin-right: auto;
        }
         .btn-success{
            margin-left: auto;
            margin-right: auto;
        }

    </style>
    <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        <table class="table-striped table-bordered table-hover table-condensed">
           {{ form.as_table}}
        </table>
        <button type="submit" class="save btn btn-success">Save</button>
    </form>
{% endblock %}